/* Main layout */

a[highlight] {

text-decoration: underline;
}

.header h1.logo {
font-size: 1em;
margin: var(--lumo-space-m);
}
.v-horizontal > .v-spacing {
    width: 50px;
}

.ueberschrift {
	background-color: #2b9ad9;
	color: #ffffff;
	font-family:Arial, sans-serif;
	font-size: 1.5em;
}
.ueberschrift1 {
	background-color: #2b9ad9;
	color: #ffffff;
	font-family:Arial, sans-serif;
	font-size: 1.5em;
	text-align: center;
}

.beschriftung{
	font-size: 1em;
}
.hilfeButtons {
	font-size: 1em;
	font-weight: 1000;
	color: #ffffff;
	background: #2b9ad9;
}

.loginBackground {
	background: #f2f5a9;
}
.loginSchriften {
	color: #2b9ad9;
}
/* List view */

